body{
    background-image: url("../images/background.png");
    color: #aaaaaa;
}

header{
    background-color: #30303a;
}
h1{
    color:#f81414;
    font-family: 'Griffy', cursive;
}

h3{
    color:#f81414;
    font-family: 'Griffy', cursive;
}
h4{
    color:#f81414;
    font-family: 'Griffy', cursive;
    background-color: #37373f;
}
img{
    width: 200px;
    height: 200px;
}

